
<h1>Authors</h1>
<%= link_to "New author", new_author_path %>
<br>
<p>
<%= paginate @authors %>
</p>
<br>
<br>
<div id="authors">
  <% i = 0 %>
  <% @authors.each do |author| %>
    #<%= i += 1 %>
    <%= render author %>
    <p>
      <%= link_to "Show this author", author %>
    </p>
    <hr>
  <% end %>
</div>
<%= paginate @authors %>


