<div style="display:inline-block;">
<% 
  if user_signed_in?
  
  %>
<%= 
      button_to 'Edit Profile', edit_user_registration_path, method: :get,
       form: {data: {turbo:true}}, style: "margin-top: -9px; position: absolute "
  %>
<%= 
      button_to 'Sign Out', destroy_user_session_path, method: :delete,
        form: {data: {turbo:true, turbo_confirm: 'Are you sure?'}}, style: "margin-top: -9px; left: 156px;position:absolute "
  %>

<% 
  else
  %>
<%= 
      button_to 'Sign In', user_session_path, method: :get,
        form: {data: {turbo:true}}, style: "margin-top: -9px; left: 530px"
  %>
<% 
  end
  %>
<h2>
Welcome!    <%=  user_signed_in? ? (current_user.first_name() +' '+ current_user.last_name()) : ''%>
|   <%= link_to "Home", root_path %>
|   <%= link_to "Books", books_path %>
|   <%= link_to "Authors", authors_path %>
|   <%= link_to "Categories", categories_path %>
|   <%= link_to "Tags", tags_path %>
|   <%= link_to "Request a book", requests_path %>
</h2>
<h3>
<p>
Total books: <%= @active_books + @inactive_books %>
|Total actives books:   <%= @active_books %>
|Total inactive books:   <%= @inactive_books  %>
|Total authors with at least one book published:   <%= @authors_with_books  %>
|Total authors with no books:   <%= @authors_with_no_books  %>
</p>
</h3>
</div>
<hr>
