<div id="<%= dom_id book %>">
  <p>
    <strong>Author:</strong>
    <%= book.author.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

   <p>
    <strong>Price:</strong>
    <%= number_to_currency(book.price) %>
  </p>

  <% if defined? show %>
  <p>
    <strong>Code:</strong>
    <%= book.code %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= book.category.name %>

  </p>

  <p>
    <strong>Description:</strong>
    <%= 
        description = book.description
        is_url = description =~ URI::regexp
        is_url ? (link_to description, description, target: :blank) : description
     %>
  </p>

   <p>
    <strong>Number of pages:</strong>
    <%= book.number_of_pages %>
  </p>

  <p>
    <strong>Date published:</strong>
    <%= book.date_published %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= book.active %>
  </p>
  <% end %>

</div>
