

<h1>Books</h1>

<%= link_to "New book", new_book_path %>
<p>
<%= paginate @books %>
</p>
<br>
<br>
<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
    <hr>
  <% end %>
<p>
<%= paginate @books %>
</p>
</div>

