
<h1>Categories</h1>
<%= link_to "New category", new_category_path %>
<br>
<p>
<%= paginate @categories %>
</p>
<br>
<br>
<div id="categories">
  <% i = 0 %>
  <% @categories.each do |category| %>
    #<%= i+=1 %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
    <hr>
  <% end %>
</div>
<%= paginate @categories %>
